body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    }
    
    h1 {
    text-align: center;
    color: #333;
    }
    
    form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    input[type="text"],
    input[type="password"],
    textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    }
    
    button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    }
    
    button:hover {
    background: #0056b3;
    }
    
    #logoutButton {
    background: #a30716; /* Bootstrap danger color */
    width: 27%;
    margin: auto;
    }
    
    #logoutButton:hover {
    background: #e65864; /* Darker shade on hover */
    }
    
    #messages {
    max-width: 600px;
    margin: 20px auto;
    }
    
    .message {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
    
    .message small {
    display: block;
    color: #999;
    font-size: 12px;
    }
    
    p {
    text-align: center;
    }
    
    a {
    color: #007bff;
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }

    .editButton, .deleteButton {
        margin-top: 10px;
        margin-right: 5px;
        padding: 5px 10px;
        border: 1px;;
        border-radius: 5px;
        cursor: pointer;
        }
        
        .editButton {
        background-color: #ffc107; /* Bootstrap warning color */
        color: white;
        }
        
        .editButton:hover {
        background-color: #e0a800; /* Darker shade on hover */
        }
        
        .deleteButton {
        background-color: #dc3545; /* Bootstrap danger color */
        color: white;
        }
        
        .deleteButton:hover {
        background-color: #c82333; /* Darker shade on hover */
        }



    .container {
        background: #8c9092;
        border: solid 3px;
        border-color: #fff;
        
    }

    body{
        background-color: rgb(109, 182, 179);
    }
    .container1 {
        text-align: center;
        
        
    }
    #joke {
        background-color: rgb(54, 158, 9);
        color: aliceblue;
        width: 40%;
        margin: auto;
        padding: 15px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
        }
        
        #joke:hover {
        background-color: rgb(34, 128, 0); /* Darker shade of green */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
        }
    #jokeButton{
        width: 40%;
        margin: auto;
    }